{% extends "dash.html" %}



{% block content %}

<div class="row">


<div class="col-sm-6">
  <table>
    <tbody>
    <tr>
      <td><h3>{{ user }}</h3></td>
    </tr>
    <tr>
      <td>{{ email }}</td>
    </tr>
     <tr>
      <td>Total Courses {{ course_count }}</td>
    </tr>

    </tbody>
  </table>
</div>


<div class="col-sm-6">
  

<div >
 <h1>8 <small>Coins Left</small></h1>
</div>


</div>


</div>
<hr>











<div>
  
<div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/75/Southern_Life_in_Southern_Literature_text_page_322.jpg" style="width:250px; height: 250px;" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

</div>


{% endblock content %}